# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  push:
    branches: ["main"]

jobs:
  firsts:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout
          uses: actions/checkout@v4.2.0

        - name: Setup Node.js environment
          uses: actions/setup-node@v4.0.4
          with:
            node-version: 20.x
            cache: "npm"
        - run: npm ci --no-fund --no-audit --no-progress
        - run: npm lint 


    
